:root{
    --green:rgb(136, 204, 181);
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s cubic-bezier(0.38,1.15,0.7,1.12);
}

body{
    height: auto;
    background-image: url(https://img.freepik.com/free-vector/cute-pets-illustration_53876-112522.jpg);
    background-size: 60% 70vh;
    background-position-x: center;
    background-position-y: -59%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

*::selection{
    background-color: rgb(87, 134, 119);
    color: rgb(146, 189, 174) ;
}

html{
    font-size: 62.5%;

}

html::-webkit-scrollbar{
    width: 1.3rem;
}
html::-webkit-scrollbar-track{
    background-color: rgb(87, 134, 119);
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(146, 189, 174);}

.header i{
    color: black;
    font-size: 2rem;
    
    
}

header{
    width: 100%;
    height: 15rem;
    background-color: rgb(141, 168, 168);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    
}
#menu{
    font-size: 3rem;
    color: rgb(78, 112, 101);
    cursor: pointer;
    display: none;  
}

#search-box{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:rgb(192, 206, 206) ;
    padding: 2rem;
    transform-origin: rgb(87, 134, 119);
    transform: scaleY(0);
    opacity: 0;  
}

#search-box.active{
    transform: scaleY(1);
    opacity: 1;
}

#search-box #search{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    font-size: 2rem;
    border-radius: 15px;
}

#search-box #search::placeholder{
    text-transform: capitalize;
}

#search-box label{
    font-size: 3rem;
    color: rgb(66, 73, 71);
    padding-left: 2rem;
    cursor: pointer;
}

header .logo{
    font-size: 2.5rem;
    color:rgb(79, 107, 98);
    font-size: 6rem;
    font-weight: 600;
}

header .logo i{
    transform: rotate(-65deg);
    font-size: 5rem;
}


header .navbar a{
    color:rgb(79, 107, 98);
    font-size: 2rem;
    padding: 0 1rem;

}

header .navbar a:hover{
    color: rgb(139, 226, 197);
    transition: 0.5s;
}

header .icons i,header .icons a{
    font-size: 3rem;
    color:rgb(79, 107, 98);
    padding-left: 1.5rem;
    cursor: pointer;

}

.fa-times{
    transform: rotate(-300deg);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    #menu{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 2rem;
        z-index: 1000;
        border-top: 0.1rem solid  rgb(79, 107, 98);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        background-color: rgb(192, 206, 206);
        font-weight: 600;
    }
    header .navbar a{
        font-size: 2rem;
        padding: 1.5rem;
        display: block;

    }
    
    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }
    section{
        padding: 1rem 3%;
        margin-left: 18rem;
    }

  

}



